body {
    background: #0F171E;
}
.main {
    margin: 5vh 5vw 5vh 5vw;
    width: 90vw;
    height: 90vh;
    background: #002855;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 2.5vw;
    color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    font-family: "Hack Nerd Font";
    font-weight: bold;
}

.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: "Hack Nerd Font";
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 1vh;
}

.login-input-div {
    display: flex;
    flex-direction: column;
}

.login-button {
    border-radius: 5px;
    width: 30%;
}
