{% extends "layout.html" %}

{% set title = "Получение ключей" %}

{% block main %}
	<div class="title">Шифрование хранилища</div>
    <div class="subtitle">Ваш браузер получил ключ шифрования ваших сообщений, зашифрованный вашей ключевой фразой.</div>
    <form class="login-form">
        <div class="login-input-div">
            <label for="seedPhrase">Введите вашу ключевую фразу:
                <input id="seedPhrase" type="text" placeholder="Моя ключевая фраза." name="phrase">
            </label>
            <button type="button" id="seedSubmit">Продолжить</button>
        </div>
    </form>
    <script type="module" src="/static/js/get_crypto.js"></script>
{% endblock %}