{% extends "layout.html" %}

{% block main %}
	<div class="title">Чебурчат</div>
    А где UI? А нет UI! Разработчик три дня не спал, выпил всё кофе в доме, зато шифрование сделал! И вообще, он бекэндер, а не фуллстак!
    <div>Короче, </div>
    <div><a href="/register/">/register/</a> -- регистрация</div>
    <div><a href="/login/">/login/</a> -- логин</div>
    <div><a href="/logout/">/logout/</a> -- выход из аккаунта</div>
    <div><a href="/user/">/user/</a>{username} -- страница пользователя</div>
    <div><a href="/me/">/me/</a> -- мой профиль</div>
    <div><a href="/chats/">/chats/</a> -- список чатов</div>
    <div><a href="/restore_key/">/restore_key/</a> -- получение ключей в новой сессии (автоматическая переадресация после входа в аккаунт)</div>
     @Сеня Вольфрамовый, ол райтс ресервед(нет)
{% endblock %}